#gitignore; do not touch

# ignore .exe files
*.exe
# ignore .class files
*.exe
# ignore .dll files
*.dll
# ignore all .class files
*.class
# ignore IDE configuration files
.vscode/
# ignore .o files
out/
# ignore env files
env/
# ignore pycache
GUI/API/__pycache__/*
